{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<title>{{Title}}</title>
		<link rel="stylesheet" href="{% static "styles.css" %}">
	</head>
	<body>
		<div class="pxfs" style="background-image:url({{Image}});">
			<div class="pxfs_title slowly_hide unsel" id="title">{{Title}}</div>
			<span class="play_control slowly_hide" id="control">
				<span class="play_ico"></span>
			</span>
		</div>
		<div class="pxfs_slider" id="slider"></div>
		<div class="jp-jplayer" id="player"></div>
	</body>
	<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.jplayer.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/browser.js" %}"></script>
	<script type="text/javascript" src="{% static "js/player.js" %}"></script>
	<script type="text/javascript">
		var title = document.getElementById('title'),
			 control = document.getElementById('control'),
			 slider = document.getElementById('slider');

		var player = new Player({
			id: 'player',
			onplay: function() {
				title.style.opacity = '0.2';
				control.style.opacity = '0';
				control.style.display = 'none';
			},
			onended: function() {
				title.style.opacity = '1';
				control.style.opacity = '1';
			},
			ontime: function(p) {
				slider.style.width = p + '%';
			}
		});

		control.onclick = function() {
			player.play('{{Track}}');
		};

		title.onclick = function() {
			browser.fullscreen(document.body);
		};
	</script>
</html>